<div class="row">
     <div class="col-lg-10">
     <div class="form-group">
       <textarea class="form-control" id="rawInput" rows="20"></textarea>
     </div>
     
    
     <table id="parsedBatch" class="table table-bordered table-hover">
      <thead><tr><th></th></tr></thead>
      <tbody><tr><td></td></tr></tbody>
     </table>
     
     </div>
     
     <div class="col-lg-2">
     <div class="checkbox"><label><input type="checkbox" value="" id="headers">The first row contains headers</label></div>
       <div class="form-group">
        <label for="delimiter">Delimiter:</label><select id="delimiter" class="selectpicker btn-sm"><option value=";" selected>Semicolon (;)</option><option value=",">Comma (,)</option><option value="TAB">TAB</option></select>
        </div> 
         <div class="form-group">
       <button type="button" id="parseBatch" class="btn btn-info">Parse data</button>
       <button type="button" id="sendBatch" class="sendButton btn btn-primary">Save data</button>
     </div>
     
     <h4>Console</h4>
     <pre class="bg-info"><span style="font-size:small" id="logBatch">Ready</span></pre>
     
     </div>
     </div>