<div class="row equal">
    
      <div class="col-lg-6 col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title" data-i18n="Filters">Filters</h3></div>
             <div class="panel-body"> 
                <p data-i18n="query.filters.text"></p>
                <div class="row">
                <div  id="params" class="form-horizontal form-group"></div>
                
                </div>
             </div>
          </div>    
      </div>
      
      <div class="col-lg-3 col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title" data-i18n="Attributes">Attributes</h3></div>
             <div class="panel-body"> 
                <p data-i18n="query.attributes.text"></p>
                <div class="btn-group btn-group-xs" role="group">
                   <button type="button" id="selectAll" class="btn btn-default"  data-i18n="Select All">Select All</button>
                   <button type="button" id="deselectAll" class="btn btn-default" data-i18n="Deselect All">Deselect All</button> 
                </div>
                <div class="row">
                	<div id="fields" class="form-horizontal form-group"></div>
               
                </div>
             </div>
          </div>    
      </div>
      
      <div class="col-lg-3 col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title" data-i18n="Grouping">Grouping</h3></div>
             <div class="panel-body"> 
                <p data-i18n="query.groups.text"></p>
                <div class="row">
                <div id="groups" class="form-horizontal form-group"></div>
                
                </div>
             </div>
          </div>    
      </div>
     
    </div>