<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbarc1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="query.html" data-i18n="sbmsClient">Semantic
					BMS client</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navbarc1">
				<ul class="nav navbar-nav">
					<li data-page="query"><a href="query.html" data-i18n="query">Query</a></li>
					<li data-page="edit"><a href="edit.html" data-i18n="edit">Edit</a></li>
					<li data-page="sparql"><a href="sparql.html" data-i18n="sparql">SPARQL</a></li>
				</ul>
				<form id="login" class="navbar-form navbar-right"
					action="#" method="GET">
					<div class="form-group">
						<label for="user" class="sr-only" data-i18n="user">User</label> <input
							type="text" name="username" id="user" class="form-control"
							data-i18n="[placeholder]user" placeholder="User" /> <label
							for="pass" class="sr-only" data-i18n="pass">Password</label> <input
							type="password" name="password" id="pass"
							data-i18n="[placeholder]pass" placeholder="Password"
							class="form-control" />
						<button type="submit" class="btn btn-default">
							<span class="glyphicon glyphicon-floppy-disk"></span>
						</button>
					</div>
				</form>

				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false"><span id="langIndicator">En</span><span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#" data-lang-indicator-abbrev="Cs"
								data-lang="cs" class="langChange">Česky</a></li>
							<li><a href="#" data-lang-indicator-abbrev="En"
								data-lang="en" class="langChange">English</a></li>
							<li><a href="#" data-lang-indicator-abbrev="Dev"
								data-lang="en-DEV" class="langChange">Developer</a></li>
						</ul></li>
				</ul>

			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->