<div class="row">
    <div id="c1" class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">New data point annotation</h3></div>
        <div class="panel-body">
            <p>Fill parameters:</p>
            <div id="params"></div>
      </div>
    </div>
    
    <div class="panel panel-primary">
      <div class="panel-heading"><h3 class="panel-title">Send data</h3></div>
        <div class="panel-body">
          <div class="form-group form-horizontal text-center">
            <h3><span id="status" class="label label-lg label-success">Ready</span>
            <button type="button" id="sendSingle" class="sendButton btn btn-primary">Send data</button></h3>                 
          </div>  
          <div class="panel-body">
            <pre id="console" class="bg-info"><span style="font-size:small" id="logSingle">Ready</span></pre>
          </div>
          
      </div>      
    </div>
    
    </div> 
    <div id="c2" class="col-lg-8">
      <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Data selectors</h3></div>
        <div class="panel-body">
        
        <ul class="nav nav-tabs">
            <li role="presentation" class="active selectorNav" data-show-div="selectorMap" id="showMap"><a href="#">Map</a></li>
            <li role="presentation" class="selectorNav" data-show-div="selectorTree" id="showTree"><a href="#">Tree</a></li>      
        </ul>
        
        <div id="selectorMap" class="selectorDiv">
        <iframe id="kompasFrame" style="width:100%;height:100%; border: 0px none transparent;" src="about:blank"></iframe>
        </div>
        <div id="selectorTree" class="selectorDiv">  
          <div id="tree"></div>
        </div>  
        </div>      
      </div>
    </div>
 </div>