 <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title" data-i18n="Filters">Filters</h3></div>
             <div class="panel-body"> 
                <p data-i18n="query.filters.text"></p>
                <div class="row">
                <div  id="params" class="form-group"></div>
                
                </div>
             </div>
          </div>    