<div class="row">
      		<div class="col-lg-8 col-md-8">
      			<h3>BMS IDs (separated by semicolon or new line)</h3>
    			<textarea id="idsToRemove" class="form-control" rows="15"></textarea>
    			<h3>Data to remove</h3>
    				<div class="form-group">
        				<div class="checkbox"><label><input type="checkbox" name="relsToRemove" id="removeDps" value="datapoint" checked>DataPoint assertions</label></div>
        				<div class="checkbox"><label><input type="checkbox" name="relsToRemove" id="removeRels" value="relations">Relation (influences, uses) assertions</label></div>
      					<div class="checkbox"><label><input type="checkbox" name="relsToRemove" id="removeTrends" value="trends">Trend assertions</label></div>
      				</div>
      				<h3><button type="button" id="sendRemove" class="sendButton btn btn-primary">Remove data</button>
      				<span id="removeOverallStatus" class="label label-success" data-i18n="Ready">Ready</span>
                </h3>
      				
    		</div>
    		
    		<div class="col-lg-4 col-md-4">
      			<h3>Status</h3>
    			<table class="table table-striped">
    			<thead>
    			<tr><th>ID</th><th>DataPoint</th><th>Relations</th><th>Trends</th></tr>
    			</thead>
    			<tbody id="removeStatus">
    			</tbody>
    			</table>
    		</div>
 </div>